.linhaLeft {
    top: 800px;
    left: 290px;
    width: 460px;
    height: 0px;
    margin-left: 100px;
    border-top: 3px solid #707070;
    opacity: 1;
}

.linhaRigth {

    width: 460px;
    height: 100px;
    margin-right: 100px;
    border-top: 3px solid #707070;
    opacity: 1;
    vertical-align: sub;
}

.title {
    top: 788px;
    left: 666px;
    width: 181px;
    height: 22px;
    font: normal normal bold 18px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    text-align: center;
    margin: 0px;
}

.sectionProd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20px;
}

.CardsArea {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1100px;
    margin-left: 100px;
}

.ButtonProducts {
    background-color: white;
    width: 260px;
    color: #888888;
    border: 1px solid #707070;
    height: 39px;
    margin-top: 70px;
}

.Prod {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Button {
    background-color: white;
    width: 200px;
    color: #888888;
    border: 1px solid #707070;
    height: 39px;
    margin-top: 30px;
}